* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Nunito', sans-serif;
}

/* sweet alert button */
.btn { 
  margin: 5em 10px 0 10px;
}